@use "../../scss/templates" as tpl;

.product {
	display: flex;
	gap: 10px;
	border-bottom: 1px solid hsl(220, 14%, 75%);
	padding-bottom: tpl.px-to-rem(20px);
	margin-bottom: tpl.px-to-rem(10px);

&__image {
	width: tpl.px-to-rem(38px);
	img {
		max-width: 100%;
		border-radius: 10%;
	}
}

&__info {
	flex: 1 1 auto;
	font-size: tpl.px-to-rem(14px);
}

&__title {
	margin-bottom: tpl.px-to-rem(10px);
}

&__details {
	display: flex;
	gap: 5px;
}

&__remove {
	background: none;
	&--icon {
		&:hover * {
			fill: #000;
		}
	}
}
}

.total {
	text-align: end;
	margin-bottom: tpl.px-to-rem(20px);
	b {
		color: #000;
	}
}
.basket__empty {
	position: absolute;
	top: 50%;
	left: 25%;
	font-weight: 700;
}