@use "../../scss/templates" as tpl;

.header {
	display: flex;
	justify-content: center;

	&__container {
		display: flex;
		align-items: center;
		padding: 2rem 0;
		flex: 0 1 tpl.px-to-rem(1114px);
		gap: tpl.px-to-rem(53px);
		margin: tpl.px-to-rem(0px, 30px);
		border-bottom: 1px solid hsl(220, 14%, 75%);
		@media only screen and (max-width: tpl.$lg) {
			padding: 1rem 0;
			border: none;
		}
		@media only screen and (max-width: tpl.$sm) {
			border: none;
			gap: 1.5rem;
			margin: 0 1rem;
		}
	}

	&__nav {
		flex: 1 0 auto;
		@media only screen and (max-width: tpl.$lg) {
			position: fixed;
			top: 0;
			left: -70%;
			background: #fff;
			width: 60%;
			height: 100vh;
			padding: tpl.px-to-rem(100px, 0px, 0px, 30px);
			transition: 0.4s ease-in-out;
			z-index: 25;
			overflow-y: auto; 
			&::before {
				content: "";
				position: fixed;
				top: 0;
				left: -70%;
				width: 60%;
				height: 70px;
				background: #fff;
				z-index: 25;
				transition: 0.4s ease-in-out;
			}
			&.open {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	&__nav-list {
		display: flex;
		align-items: center;
		gap: tpl.px-to-rem(30px);
		@media only screen and (max-width: tpl.$lg) {
			flex-direction: column;
			align-items: normal;
		}
	}

	&__nav-item {
		position: relative;
		a {
			color: hsl(219, 9%, 45%);
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				top: tpl.px-to-rem(62px);
				background: hsl(26, 100%, 55%);
				opacity: 0;
				transition: all 0.6s ease;
			}
			&:hover {
				color: #000;
			}
			&:hover::before {
				opacity: 1;
			}
			@media only screen and (max-width: tpl.$lg) {
				color: #000;
				&:hover::before {
					opacity: 0;
				}
			}
		}
	}

	&__icons {
		position: relative;
		display: flex;
		gap: tpl.px-to-rem(44px);
		@media only screen and (max-width: tpl.$lg) {
			margin-left: auto;
		}
		@media only screen and (max-width: tpl.$sm) {
			gap: 1.2rem;
		}
	}
	&__icons-cart {
		position: relative;
		background: none;
	}

	&__icons-avatar {
		background: none;
		width: tpl.px-to-rem(50px);
		height: tpl.px-to-rem(50px);
		border-radius: 50%;
		img {
			max-width: 100%;
			@media only screen and (max-width: tpl.$sm) {
				width: tpl.px-to-rem(40px);
				height: tpl.px-to-rem(40px);
			}
		}
		&:hover {
			border: 1px solid hsl(26, 100%, 55%);
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 20;
	display: none;
	transition: 0.6s ease-in-out;
	&.active {
		display: block;
	}
}

.cart:hover * {
	fill: #000;
}
.cart-quantity {
	position: absolute;
	top: 8px;
	left: 9px;
	width: 20px;
	height: 14px;
	background: hsl(26, 100%, 55%);
	border-radius: 40%;
	color: #fff;
	font-size: tpl.px-to-rem(10px);
}