.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
	@media only screen and (max-width: 902px) {
		border-radius: 0;
	}
}

.mySwiper2 {
	cursor: pointer;
	height: 80%;
	width: 100%;
	@media only screen and (max-width: 902px) {
		height: 100%;
		img {
			height: auto;
		}
	}
}

.mySwiper {
	height: 20%;
	box-sizing: border-box;
	padding: 20px 0;
	@media only screen and (max-width: 902px) {
		display: none;
	}
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 1;
	border-radius: 17px;
}

.mySwiper .swiper-slide-thumb-active {
	border: 3px solid hsl(26, 100%, 55%);
	img {
		opacity: 0.4;
	}
}
.mySwiper .swiper-slide-visible {
	img:hover {
		cursor: pointer;
		opacity: 0.4;
	}
}

.swiper-button-next,
.swiper-button-prev {
	color: #000;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	@media only screen and (min-width: 902px) {
		display: none;
	}
	&::after {
		font-size: 24px;
	}
}
